{% extends "base.html.jinja2" %}
{% block main_content %}
<article>
<h2>About</h2>
<p><em>{{ website_name }}</em> brings together people with the same interest in a book or paper. With <em>{{ website_name }}</em> you can <a href="{{ website_root }}/{{ "search.html" if local_build }}">search</a> for a book or paper, and you will be given the contact information of people who are also interested in it. You can also <a href="{{ website_root }}/subscribe{{ ".html" if local_build }}">subscribe</a></li> to your own interests for others to discover, something like a Community Board for the internet. You can read the <a href="{{ website_root }}/howto{{ ".html" if local_build }}">how to</a> page for more information. Only your e-mail and its association with books and papers is collected; you may also remove your e-mail from subscriptions. If you wish to retain your anonymity, please use a throwaway e-mail that is not associated with you in other ways.</p>
<h2>Philosophy</h2>
<p>We grow our individual knowledge by studying and exploring the world. There is no doubt that we have reached marvelous heights in individual achievement, and yet we neglect our growth as an entire human race. Collaboration begins at conception, with humans learning quickly how to talk from their parents; on the other extreme, even when one reads a book from a dead author, it is collaboration still. Unfortunately, collaboration on the scientific level with <em>alive</em> humans is inaccessible in the modern world: at best we have tightly-integrated teams brought together by capital, or loosely-knit scientific communities. We appear to abandon the curious to individually set-up libraries, with soundproof walls, empty hallways and locked doors. It is clear that we must foster better links between those who are still alive. <em>{{ website_name }}</em> brings together people who share the same interest in a book or paper to collaborate together on their quest for knowledge.</p>
<p>If you wish to share your intuition and knowledge with others, and if you are curious about what others know and think, I hope that <em>{{ website_name }}</em> will be useful to you. I encourage you to not only search for or subscribe to the articles that you are currently interested in, but also the articles that you have read in the past and are willing to discuss with others.</p>
</article>
{% endblock %}
