<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="{{ website_root }}/static/style.css" rel="stylesheet" />
    <title>{{ website_name }}</title>
  </head>
  <body>
    <header><h1><a href="{{ website_root }}/{{ "search.html" if local_build }}" class="banner-link">{{ website_name }}</a></h1></header>
    <nav>
      <ul>
        <li><a class="menu-button" href="{{ website_root }}/howto{{ ".html" if local_build }}">how&nbsp;to</a></li>
        <li><a class="menu-button" href="{{ website_root }}/{{ "search.html" if local_build }}">search</a></li>
        <li><a class="menu-button" href="{{ website_root }}/subscribe{{ ".html" if local_build }}">subscribe</a></li>
        <li><a class="menu-button" href="{{ website_root }}/contact{{ ".html" if local_build }}">contact</a></li>
      </ul>
    </nav>
    <main>
      {% block main_content %}{% endblock %}
      <aside>
        <p>News</p>
        <p class="news-entry"><time datetime="2025-07-15">July 15, 2025</time>: Launch website.</p>
        <p class="news-entry"><time datetime="2024-06-13">June 13, 2024</time>: Website under construction.</p>
      </aside>
    </main>
    <footer>
      <p>Copyright &copy; 2024 Communal Growth, LLC.</p>
    </footer>
  </body>
</html>
