{% extends "base.html.jinja2" %}
{% block main_content %}
<article>
<h2>How to use this website</h2>
<p>You can <em>subscribe</em> to lists or remove yourself from lists. Each book (or scientific article) has its own list. The lists are <a href="{{ website_root }}/{{ "search.html" if local_build }}">searchable</a> and they are meant to bring people together who have the same interest in a book.</p>

<p>
  Your subscriptions are controlled by sending e-mails to our special addresses:
  <ul>
    <li>Subscribe by sending an e-mail to <a href="mailto:subscribe@communalgrowth.org">subscribe@communalgrowth.org</a> with the list of books.</li>
    <li>Unsubscribe by sending an e-mail to <a href="mailto:unsubscribe@communalgrowth.org">unsubscribe@communalgrowth.org</a> with the list of books.</li>
    <li>Remove yourself entirely from all of our lists by sending an e-mail to <a href="mailto:forget@communalgrowth.org">forget@communalgrowth.org</a>.</li>
  </ul>
</p>

<p>When you use our website, your e-mail address will become searchable by everyone. You may wish to use a separate e-mail account for this website if for privacy reasons you do not wish to have your main e-mail address displayed. See also our <a href="{{ website_root }}/about{{ ".html" if local_build}}">about</a> page.</p>
</article>
{% endblock %}
