{% extends "base.html.jinja2" %}
{% block main_content %}
<article>
<h2>Search for others with similar interests</h2>
<p>Search for books and articles already submitted by others:</p><br />
<div class="search-container">
  <form action="/search" method="get">
    <input type="text" name="s" placeholder="Title, author…" {% if search_value %} value="{{ search_value }}" {% endif %}>
    <button type="submit">Search</button>
  </form>
</div>
{% if results %}
<table>
  <tr>
    <th>Title</th>
    <th>Author(s)</th>
  </tr>
  {% for result in results %}
  <tr>
    <td>{{ result[0] }}</td>
    <td>{{ result[1] }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
</article>
{% endblock %}
