{% extends "base.html.jinja2" %}
{% block main_content %}
<article>
<h2>Search for others with similar interests</h2>
<p>Search for books and articles already subscribed to by others:</p><br />
<div class="search-container">
  <form action="{{ website_root }}/{{ "search.html" if local_build }}" method="get">
    <input type="text" name="s" placeholder="Title, author…" {% if search_value %} value="{{ search_value }}" {% endif %}>
    <button type="subscribe">Search</button>
  </form>
</div>
{% if results %}
{% if search_value == '' %}
<p id="search-results">{{ results | length }} most recent documents:</p>
{% endif %}
<table>
  <tr class="hide-on-narrow">
    <th>Title</th>
    <th>ID</th>
    <th>Author(s)</th>
    <th>Subscribers</th>
  </tr>
  {% for result in results %}
  <tr>
    <td data-label="Title"><cite>{{ result[0] }}</cite></td>
    <td data-label="ID"><a href="mailto:subscribe@communalgrowth.org?subject=Subscribe&body={{ result[1] }}">{{ result[1] }}</a></td>
    <td data-label="Author(s)">{{ result[2] }}</td>
    <td data-label="Subscribers">{{ result[3] }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
</article>
{% endblock %}
