[Unit]
Description=Milter RFC5322.From/DKIM SDID alignment Python Service
After=network.target

[Service]
Type=simple
ExecStart=/home/gauss/webserver/.venv/bin/python3 -u /home/gauss/webserver/src/sdidmilterd/sdidmilterd.py
Restart=always
User=gauss
Group=gauss
StandardOutput=journal
StandardError=journal
Environment=CG_SDIDMILTER_PORT=47290

[Install]
WantedBy=multi-user.target
