{% extends "base.html.jinja2" %}
{% block main_content %}
<article>
<h2>Contact us</h2>
<p>
  <address>
    You may e-mail us for support at: <a href="mailto:support@communalgrowth.org">support@communalgrowth.org</a>.
  </address>
</p>
</article>
{% endblock %}
